*{
    padding: 0;
    margin: 0;
    font-family: "Plain Light";
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
/* #crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid rgb(229, 209, 209);
    z-index: 299;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
} */
.mouseFollower{
    border: 2px solid white;
    background-color: black;
    scale: 4;
    mix-blend-mode: difference;
}

.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 10vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.now{
    height: 20vh;
    /* width: vw; */
}
.now h2{
    font-size: 6.5vw;
    font-weight: 500;
    text-transform: uppercase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
}
.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8vw;
}
.line1-part1 h5,.line1-part1 h6{
    font-size: 4vw;
    font-family: "silk serif";
    font-weight: 100;
}
.line1-part1 h5{
    width: 7vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.main{
    position: relative;
    background-color: #191919;
    overflow-x: hidden;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px white;
        color: white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        opacity: 1;
        color: transparent;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        font-weight: 500;
        opacity: 0;
        color: transparent;

    }
}


.page1{
    height: 98vh;
    width: 100%;
    background-color:#191919;
    position: relative;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 8vh 8.5vw;
}

.nav-part2{
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}
.nav-part2 h4{
    font-size: 1vw;
    font-weight: 400;
}
.hero{
    width: 73%;
    margin-left: 27%;
    height: fit-content;
    display: flex;
    align-items: center;    
    position: relative;
    overflow-y: hidden;
    
}
.hero101{
    position: absolute;
    font-family: "silk serif";
    font-size: 3.4vw;
    font-weight: 400;
    left: 16%;
    top: 22%;
}
.hero:nth-child(2){
    margin-top: 15vh;
}
.hero h1{
    font-size: 6.5vw;
    text-transform:uppercase;
    line-height: 6.7vw;
    font-weight: 700;
    gap: 1vw;
}

.hero h2{
    font-size: 7vw;
    text-transform:uppercase;
    line-height: 7.5vw;
    font-weight: 700;
    gap: 1vw;
     border-bottom: 0.6vw solid white;
    padding-bottom: 0.8vw;
}
.hero h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
}





.page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

.video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left:37%;
}
.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video-container img{
    position: absolute;
    height: 68vh;
    width: 100%;
    object-fit: cover;
    top: -1%;
}
.video-cursor{
    height: 8vw;
    width: 8vw;
    background-color: #ffa63d;
    border-radius: 50%;
    position: absolute;
    top: -8%;
    left: 70%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-cursor i{
    font-size: 3vw;
}




.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #191919;
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 20vh;
    
}
.page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    margin-left: 30vw;
    position: relative;
}
.page3 .underline{  
    height: 1px;
    width: 100%;
    margin: 5vw 25vw;
    background-color: #fff;
}

 .page3 h1::before{
    position: absolute;
    content: "02";
    font-family: "silk serif";
    font-size: 3.4vw;
    font-weight: 400;
    left: -14%;
    top: 5%;
}
.image-div-container{
        padding: 1vw;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }


 .image-div {
    flex-shrink: 0;
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    margin: 2vw;
  }
 .image-div:nth-child(1) {
    height: 29vw;
    width: 22vw;
}
  .image-div img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* Ensure image stays behind effect */
  }

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 23vh;
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.page3-circle1 svg{
    height: 40%;    
}
.page3-circle2 svg{
    height: 40%;    
    rotate: -45deg;
}
.page3-circle2{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7vw;
    position: relative;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all  0.6s;
    transition-delay: 0.4s;
}
.circle-in p{
    font-size: 1vw;
    color: black;
    width: 60%;
    font-weight: 500;
    scale: 0;
    opacity: 0;
    transition: all ease 0.4s;
    transition-delay: 0.4s;
}
.page3-circle1:hover .circle-in{
    scale: 1;
} 
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;

}
.page3-circle2:hover .circle-in{
    scale: 1;
} 
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 0;

}
.page4-content{
    width: 65vw;
    position: relative;
    margin-left: 28%;
    margin-top: 10%;
}
.page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
}
.page4-content h1::before{
    position: absolute;
    content: "03";
    font-family: "silk serif";
    font-size: 3.4vw;
    font-weight: 400;
    left: -14%;
    top: 5%;

}
.underline{
    height: .7px;
    width: 100%;
    margin: 5vw 0vw;
    background-color: #acacac;
}

 .page4-content>p{                       /*  > ye just 1st wale to targer krta hai */
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
.page4-flex{
    display: flex;
}
.page4-flex img{
    width: 45%;
}
.page4-flex p{
    width: 30%;
    font-size: 1vw;
    margin-left: 2vw;
}
.page4-blue-div{
    background-color: #3f7df4;
    position: relative;
    width: 33vw;
    padding: 3vw;
    margin-top: -30vh;
    margin-left: 21vw;    
}
.blue-div-elem{
    display: flex;
    border-bottom: 0.2vw solid white;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.7vw 0;
}
.blue-div-elem p{
    font-size: 0.9vw;
    width: 40%;
}
.blue-div-elem h3{
    font-size: 1.4vw;
    font-weight: 500;
}

.page5{
    width: 100%;
    min-height: 100vh;
    position: relative;
    
}
.elem{
    text-transform: uppercase;
    white-space:nowrap;
    margin-bottom: -2vw;
}
.elem h1{
    font-size: 7vw;
    display: inline-block;
    color: transparent;
    font-weight: 400;
    -webkit-text-stroke: 1px #fff;
    margin-right: 16px;
    animation-name: animey;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes animey{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px ));
    }
}


.elem2{
    text-transform: uppercase;
    white-space:nowrap;
    margin-bottom: -2vw;
}
.elem2 h1{
    font-size: 7vw;
    display: inline-block;
    color: transparent;
    font-weight: 400;
    -webkit-text-stroke: 1px #fff;
    margin-right: 16px;
    transform: translateX(calc(-100% -20px));
    animation-name: animey;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}
.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}


.footer{
    height: 75vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 4vw;
}


.footer h1{
    font-size: 7vw;
    width: 60vw;
    text-transform: uppercase;
    position: relative;
}
.footer h1::before{
    position: absolute;
    content: "04";
    font-family: "silk serif";
    font-size: 3.4vw;
    font-weight: 400;
    left: -14%;
    top: 5%;

}
.footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    padding-right: 15vw;
}
.footer.underline{
    height: 1px;
}

.footer-div h6{
    font-size: 1vw;
    font-weight: 400;

}
.footer-div h5{
    font-size: 1.6vw;
    margin: 0.4vh 0;
    font-weight: 400;
}
.footer .box{
    width: 20%;
}

._canvas_container{
    z-index: 9999999 !important;
    pointer-events: none
}